<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fachada.Properties.Settings.autorfidConnectionString"
            connectionString="server=localhost;user id=root;database=autorfid;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>