
div.container
{
	position:static;
	width: 740px;
	margin: 0 auto;
	padding: 10px;
	text-align: left; /* "remédio" para o hack do IE */
}

div.logomarca
{
	position:relative;
	background-image:url('/Content/logo.jpg');
	background-repeat:no-repeat;
	background-color:#3a3e61;
	width: 760px;
	height:113px;
	margin-left: -10px;
	margin-top: -10px;
	text-align: left;
}

div.menubar
{
	width: 760px;
	margin: 0 auto;
	background-color: #3a3e61;
	margin-left: -10px;
	color:White;
}

div.principal
{
	background-color:#ece9d8;
	width: 760px;
	height: 400px;
	margin-left:-10px;
}

body 
{
	background:url("/Content/fundodegrade.jpg");
	
}

.menu
{
	padding-right: 10px;
	background-color: #3a3e61;
	height:30px;
	color:White;
}


div.login
{	
	width: 348px;
	margin-top:120px;
	margin-left:280px;
}

div.cad
{
	margin-left:10px;
	margin-top:20px;
}